# macOS
.DS_Store

# env files
.env
.env.local
.env*.local

# editor
.vscode/
.idea/

# logs
*.log

# Vercel
.vercel/

# old code
old/

# Next.js build artifacts & dependencies
node_modules/
.next/
tsconfig.tsbuildinfo
next-env.d.ts
